# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [41]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import os

# File to Load (Remember to check these)
city_data_to_load = "../Resources/city_data.csv"
ride_data_to_load = "../Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [42]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.tail()

,city,date,fare,ride_id,driver_count,type
2370,Michaelberg,2019-04-29 17:04:39,13.38,8550365057598,6,Rural
2371,Lake Latoyabury,2019-01-30 00:05:47,20.76,9018727594352,2,Rural
2372,North Jaime,2019-02-10 21:03:50,11.11,2781339863778,1,Rural
2373,West Heather,2019-05-07 19:22:15,44.94,4256853490277,4,Rural
2374,Newtonview,2019-04-25 10:20:13,55.84,9990581345298,1,Rural

## Challenge Deliverable 1. Generate a Ride-Sharing DataFrame by City Type

In [43]:
#  1. Get the total rides for each city type
# unique is a function that returnsd one of each city 
unique_types=pyber_data_df['type'].unique()

type_count =[ # empty list
]
for t in unique_types:
    # shape[] returns a two tuple.
    df_pyber = (t,pyber_data_df[pyber_data_df['type']==t].shape[0])
    type_count.append(pyber_data_df[pyber_data_df['type']==t].shape[0])
    
# Test of boolean 
# pyber_data_df[pyber_data_df['type']=="Urban"].shape[0])
# pyber_data_df[type']==t

series_index=["a","b","c"]
unique_series={"type": pd.Series(unique_types.tolist(),index=series_index),
              "type_count": pd.Series(type_count,index=series_index)}

summary_df=pd.DataFrame(unique_series)
summary_df

       type  type_count
a     Urban        1625
b  Suburban         625
c     Rural         125

In [13]:
# 2. Get the total drivers for each city type
for t in unique_types:
    single_type_df=pyber_data_df[pyber_data_df['type']==t]
    print(t,(single_type_df['driver_count'].sum()))

Urban 59602
Suburban 8570
Rural 537

In [ ]:
#  3. Get the total amount of fares for each city type

In [ ]:
#  4. Get the average fare per ride for each city type.

In [ ]:
# 5. Get the average fare per driver for each city type.

In [ ]:
#  6. Create a PyBer summary DataFrame.

In [ ]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

In [ ]:
#  8. Format the columns.

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [ ]:
# Print the merged DataFrame for reference.

In [ ]:
# 1. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [ ]:
# 2. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [ ]:
# 3. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [ ]:
# 4. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-28'.

In [ ]:
# 5. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [ ]:
# 6. Check that the datatype for the index is datetime using df.info()

In [ ]:
# 7. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [ ]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')